doctype html
html(lang='ja')
  head
    include components/_meta.pug
    title Website Boilerplate
    link(rel='stylesheet', href='./scss/styles.scss')
    link(rel='icon', href='./img/icon.png', type='image/png')
  body
    h1 Hello, World!
    picture
      source(srcset!='./img/image.jpeg?as=avif&width=800', type='image/avif')
      source(srcset!='./img/image.jpeg?as=webp&width=800', type='image/webp')
      source(srcset!='./img/image.jpeg?width=800', type='image/jpeg')
      img(src!='./img/image.jpeg?width=200', alt='test image')

    script(src='./ts/index.ts')
